{
    "extends": "airbnb-base",
    "rules": {
        "quotes": ["error", "double"],
        "comma-dangle": ["error", "always-multiline"],
        "operator-linebreak" : ["error", "after"],
        "no-underscore-dangle": ["error",  {"allow": ["_id"]}]
    }
  }